body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 300px;
}

img {
    width: 300px;
}

body > div {
    border: 1px solid red;
}

.content > div {
    border: 1px solid green;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style: none;
    display: flex;
    gap: 8px;
}

.main {
    display: flex;
    justify-content: space-between;
}

.main-left {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: space-between;
}

