body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main > img {
    height: 300px;
}

.card > img {
    width: 150px;
}

body > div {
    border: 1px solid red;
    padding: 0 200px;
}

.content > div {
    border: 1px solid green;
    flex-grow: 1;
}

.information div {
    border: 1px solid magenta;
}

.card-container > div {
    border: 1px solid blue;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style: none;
    display: flex;
    gap: 8px;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-left {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid red;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.information-title {
}

.card-container {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 150px;
}

.quote {
    width: 80%;
    align-self: center;
}

.quote-source {
    text-align: right;
}

.cta {
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
}

.footer {
    text-align: center;
}